html {
  scroll-behavior: smooth;
  
}
body{
  margin:0;
  background: #abbaab; 
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab); 
  background: linear-gradient(to top, #ffffff, #abbaab); 

}

h1,h2,p, .navbar-brand, .nav-link{
  font-family: 'Finlandica', sans-serif;
}

.about-header {
  background-image: url("./header-image.jpg");
  height: 100vh;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
  position: absolute;
}


.lead{
  color: black;
}

.rowf {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.featurette-divider {
  margin: 0 40px;
}
/*About me */
.about-section{
  padding:80px 0 ;
}
.about-section .about-img{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:0 15px;
}
.about-section .about-img .img-box{
	position: relative;
}
.about-section .about-img .img-box .shape-02{
   position: absolute;
   height: 30px;
   width: 30px;
   border:2px solid #FF9800;
   left:30px;
   top:30px;
}
.about-section .about-img .img-box img{
	width: 100%;
	display: block;
} 
.about-section .about-content{
	flex:0 0 66.66%;
	max-width: 66.66%;
	padding:0 15px;
}

.about-section .section-title{
	margin-bottom: 30px;
	padding:0;
}

.about-section .about-content p{
	font-size: 16px;
	color:#555555;
	line-height: 26px;
	margin:0;
}
.about-section .about-content{
	flex:0 0 25%;
	max-width: 25%;
	padding:0 15px;
	text-align: center;
	margin-top:30px;
}

.about-section .about-content {
	font-size: 40px;
	color:#000000;
	margin:0 0 5px;
}
.about-section .about-content h5{
	font-size: 16px;
	color:#555555;
	font-weight: 600;
	text-transform: uppercase;
}

.about-section .about-content .btn{
   margin-top: 30px;
}

/*Progress Bar */
.progress-bar-main {
padding: 20px 0;
}
.heading-title
{
	margin-bottom: 100px;
}
.progress-title{
    font-size: 16px;
    font-weight: 700;
    color: #011627;
    margin: 0 0 20px;
}

.progress{
    height: 10px;
    background: rgba(244, 241, 241, 0.926);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar{
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
    animation-delay: 5s;
}

.progress .progress-bar:after{
    content: "";
    display: block;
    border: 15px solid transparent;
    border-bottom: 21px solid transparent;
    position: absolute;
    top: -26px;
    right: -12px;
}

.progress .progress-value{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -40px;
    right: 0;
}

.progress.pink .progress-bar:after{
    border-bottom-color: #ff4b7d;
}

.progress.green .progress-bar:after{
    border-bottom-color: #5fad56;
}

.progress.yellow .progress-bar:after{
    border-bottom-color: #e8d324;
}

.progress.blue .progress-bar:after{
    border-bottom-color: #3485ef;
}

@-webkit-keyframes animate-positive{
  0% { width: 0; }
}

@keyframes animate-positive{
  0% { width: 0; }
}



/*Button*/
 
.btn-01{
  background-color: #FF9800;
  color:#ffffff;
  border:2px solid transparent;
  padding:10px 35px;
  border-radius: 30px;
  margin: 15%;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn-01:hover{
  background-color: transparent;
  border-color:#FF9800;
  color:#FF9800;
}
.btn-01:focus{
  outline: none;
}

.bottom-container {
  background-color: #CADEFC;
  text-align: center;
  padding: 30px;
  
}

/*Font awesome icons*/

.fa {
  padding: 5px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7; /*the transparency of an element when its hovered*/
}

.fa-brands{
  font-size: 30px;
  margin-right: 20px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  color: black;
}

/*Underline*/

/* gradient underline */
.underline-06 {
  background-image: linear-gradient(90deg, #e67399, #f2a640);
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

/*contact*/

.contact-section{
  padding : 80px 0 80px;	
}
.contact-section .contact-img{
	flex:0 0 100%;
	max-width: 100%;
	padding:0 15px;
}
.contact-section .contact-img .img-box{
	padding:200px 0;
	background-image: url('./contact-img.jpg');
	background-size: cover;
	background-position: center;
}
.contact-section .section-title{
	text-align: center;
}
.contact-section .section-title h1{
	color:#ffffff;
}
.contact-section .section-title h1:before{
	background-color: #ffffff;
	left: 50%;
	margin-left: -40px;
}

.contact-section .contact-form{
	flex:0 0 100%;
	max-width: 100%;
	padding:0px 65px;
}
.contact-section .contact-form .form{
	background-color: #f3f2f1;
	padding:55px 40px;
	margin-top: -150px;
}
.contact-section .contact-form .form label{
	color:#000000;
	font-weight: 500;
	display: block;
	margin: 0 0 5px;
}
.contact-section .contact-form .form .input-group{
	flex:0 0 100%;
	max-width: 100%;
	padding:0 15px;
	margin-bottom: 30px;
}
.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right{
	flex:0 0 50%;
	max-width: 50%;
}

.contact-section .contact-form .form .input-control{
	width: 100%;
	height: 45px;
	padding:6px 0px;
	color:#000000;
	font-size: 16px;
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #cccccc;
}
.contact-section .contact-form .form .input-control:focus{
	outline: none;
}
.contact-section .contact-form .form textarea.input-control{
  height: 140px;
  resize: none;
  padding-top: 12px;
}
.contact-section .contact-form .form .form-btn{
	text-align: center;
}

.contact-section .contact-info{
 flex:0 0 100%;
 max-width: 100%;
}
.contact-section .contact-info .info-item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	text-align: center;
	padding:0 15px;
	margin-bottom: 40px;
}
.contact-section .contact-info .info-item h5{
	font-size: 16px;
	font-weight: 600;
	margin:0;
}
.contact-section .contact-info .info-item p{
	font-size: 16px;
	margin:0;
	color:#555555;
}

.contact-section .social-links{
	flex:0 0 100%;
	max-width: 100%;
	padding:0 15px;
	text-align: center;
}
.contact-section .social-links a{
	text-decoration: none;
	display: inline-block;
	margin:0 5px;
}
.contact-section .social-links a img{
	width: 28px;
	display:block;
	transition: all 0.5s ease;
}
.contact-section .social-links a:hover img{
	opacity:0.5;
}

/*responsive*/

@media(max-width: 767px){
	.about-section .about-img{
		margin-bottom: 30px;
	}
	.about-section .about-content,
	.about-section .about-img {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
}

@media(max-width: 575px){

	.about-section .about-content .stats{
      flex: 0 0 50%;
      max-width: 50%;
   }
   .contact-section .contact-info .info-item,
   .contact-section .contact-form .form .input-group.left, 
   .contact-section .contact-form .form .input-group.right,
   .work-section .work-item,
   .service-section .service-item{
    	flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-section .contact-form{
    	padding: 0px 35px;
    }
    .contact-section .contact-form .form{
    	padding: 55px 5px;
    }
}

